
.product-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 300px;
    height: 350px;
    background-color: #fff;
    border-radius: 8px;

  }

  .product_paren{
    display: flex;
  }

  
  
  .product-card h3 {
    margin: 0 0 10px;
  }
  
  .product-card button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .product-card button:hover {
    background-color: #218838;
  }
  